.canvas {
    display: grid;
    width: 50vw;
    height: 50vw;
    margin:  auto;
    background-color: #c0c1c1;
}

.knob {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
}

#knob-row {
    display:flex;
    justify-content: space-between;
    width: 70%;
    margin:auto;
}

body {
    background-color: #d00101;
}